In [1]:
#Setting working directory
import os
path = 'E:\\PyCon'
os.chdir(path)
print(os.getcwd())

E:\PyCon

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# police.csv is Rhode Island dataset from stanford open
# policing project

In [15]:
# Load the dataset
ri = pd.read_csv('police.csv')
ri.sample(7)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
58665,2012-04-06,19:27,NaN,M,1989.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
52184,2011-09-03,15:03,NaN,M,1976.0,35.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
80260,2014-08-28,21:41,NaN,M,1992.0,22.0,Hispanic,Seatbelt Violation,Seat belt,False,NaN,Citation,False,0-15 Min,False
64161,2012-10-04,13:53,NaN,F,1990.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
42982,2010-06-10,07:55,NaN,M,1966.0,44.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
77653,2014-05-21,09:49,NaN,F,1951.0,63.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
19846,2007-09-02,00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False

In [12]:
# pd.set_option('display_max_columns', 500)
pd.set_option('display.max_rows', 500)

In [14]:
ri.shape

(91741, 15)

In [15]:
ri.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [10]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
stop_date             91741 non-null object
stop_time             91741 non-null object
county_name           0 non-null float64
driver_gender         86406 non-null object
driver_age_raw        86414 non-null float64
driver_age            86120 non-null float64
driver_race           86408 non-null object
violation_raw         86408 non-null object
violation             86408 non-null object
search_conducted      91741 non-null bool
search_type           3196 non-null object
stop_outcome          86408 non-null object
is_arrested           86408 non-null object
stop_duration         86408 non-null object
drugs_related_stop    91741 non-null bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [17]:
ri.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [25]:
len(ri.columns)

15

### Remove columns that only contains missing values

In [26]:
missing_list = ['county_name']

In [27]:
ri.drop(missing_list, axis = 1, inplace = True)

In [31]:
len(ri.columns)

15

In [40]:
# Another way to drop--
ri.dropna(axis = 1, how = 'all').shape

(91741, 14)

In [38]:
ri['county_name']

KeyError: 'county_name'

### Do Men or Women speed more ofter

In [41]:
ri.sample(9)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
41338,2010-03-28,09:47,F,1978.0,32.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,16-30 Min,False
63858,2012-09-21,15:54,M,1982.0,30.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
63839,2012-09-21,01:00,F,1989.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
37349,2009-09-16,12:55,M,1987.0,22.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
49983,2011-06-03,12:10,M,1963.0,48.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
12924,2006-12-19,16:07,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
31279,2008-12-23,23:54,M,1989.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
61046,2012-06-17,23:50,M,1988.0,24.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,0-15 Min,False
46798,2010-12-23,01:21,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False

In [44]:
ri.violation.value_counts()

Speeding               48463
Moving violation       16224
Equipment              11020
Other                   4317
Registration/plates     3432
Seat belt               2952
Name: violation, dtype: int64

In [57]:
ri_speeding = ri[ri.violation == 'Speeding']

In [71]:
ri[ri.violation == 'Speeding'].driver_gender.value_counts(normalize = True)

M    0.680527
F    0.319473
Name: driver_gender, dtype: float64

In [72]:
ri[ri.driver_gender == 'M'].violation.value_counts(normalize=True)

Speeding               0.524350
Moving violation       0.207012
Equipment              0.135671
Other                  0.057668
Registration/plates    0.038461
Seat belt              0.036839
Name: violation, dtype: float64

In [76]:
ri.groupby('driver_gender').violation.value_counts(normalize = True).loc[:,'Speeding']

driver_gender
F    0.65850
M    0.52435
Name: violation, dtype: float64

In [77]:
ri.groupby('violation').driver_gender.value_counts(normalize = True)

violation            driver_gender
Equipment            M                0.774319
                     F                0.225681
Moving violation     M                0.802515
                     F                0.197485
Other                M                0.840167
                     F                0.159833
Registration/plates  M                0.704837
                     F                0.295163
Seat belt            M                0.784892
                     F                0.215108
Speeding             M                0.680527
                     F                0.319473
Name: driver_gender, dtype: float64

In [ ]:
# Downside
# ==> 1. we don't know how many men and women are driving
# ==> 2. We don't know how many km they drove.
# ==> 3. The time the time frequency of the violation.

In [78]:
ri.groupby('driver_gender').violation.value_counts(normalize = True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: violation, dtype: float64

In [79]:
type(ri.groupby('driver_gender').violation.value_counts(normalize = True))

pandas.core.series.Series

In [ ]:
ri.groupby('driver_gender').violation.value_counts(normalize = True).unstack()
# Now we could turn it into dataframe and find rows and cols

In [81]:
type(ri.groupby('driver_gender').violation.value_counts(normalize = True).unstack())

pandas.core.frame.DataFrame

## Does gender affect who gets searched during a stop?
 - driver_gender, search_conducted

In [95]:
ri.search_conducted.value_counts(normalize = True)

False    0.965163
True     0.034837
Name: search_conducted, dtype: float64

In [96]:
ri.search_conducted.mean()

0.03483720473942948

In [98]:
ri.groupby('driver_gender').search_conducted.mean()

driver_gender
F    0.020033
M    0.043326
Name: search_conducted, dtype: float64

## Why is search type missing so often

In [105]:
ri.isna().sum()

stop_date                 0
stop_time                 0
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [111]:
ri.search_conducted.value_counts()

False    88545
True      3196
Name: search_conducted, dtype: int64

In [117]:
ri[ri.search_conducted == False].search_type.value_counts(dropna = False)

NaN    88545
Name: search_type, dtype: int64

In [118]:
ri.search_type.value_counts(dropna = False)

NaN                                                         88545
Incident to Arrest                                           1219
Probable Cause                                                891
Inventory                                                     220
Reasonable Suspicion                                          197
Protective Frisk                                              161
Incident to Arrest,Inventory                                  129
Incident to Arrest,Probable Cause                             106
Probable Cause,Reasonable Suspicion                            75
Incident to Arrest,Inventory,Probable Cause                    34
Incident to Arrest,Protective Frisk                            33
Probable Cause,Protective Frisk                                33
Inventory,Probable Cause                                       22
Incident to Arrest,Reasonable Suspicion                        13
Protective Frisk,Reasonable Suspicion                          11
Inventory,Protective Frisk                                     11
Incident to Arrest,Inventory,Protective Frisk                  11
Incident to Arrest,Probable Cause,Protective Frisk             10
Incident to Arrest,Probable Cause,Reasonable Suspicion          6
Incident to Arrest,Inventory,Reasonable Suspicion               4
Inventory,Reasonable Suspicion                                  4
Inventory,Probable Cause,Reasonable Suspicion                   2
Inventory,Probable Cause,Protective Frisk                       2
Probable Cause,Protective Frisk,Reasonable Suspicion            1
Incident to Arrest,Protective Frisk,Reasonable Suspicion        1
Name: search_type, dtype: int64

## During a search how often a driver is frisked

In [123]:
ri[ri.search_conducted].search_type.str.contains('Frisk').value_counts('Protective Frisk')

False    0.914268
True     0.085732
Name: search_type, dtype: float64

In [130]:
ri['frisk'] = ri.search_type.str.contains('Protective Fris')

In [132]:
ri.frisk.value_counts(dropna = False)

NaN      88545
False     2922
True       274
Name: frisk, dtype: int64

In [133]:
ri.frisk.sum()

274

In [134]:
ri.frisk.mean()

0.08573216520650813

## Which year had the least number of stops

In [136]:
ri.sample()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,frisk
77030,2014-04-27,19:23,NaN,M,1993.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,NaN

In [140]:
ri.stop_date.str.slice(0,4).value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_date, dtype: int64

In [150]:
combined = ri.stop_date.str.cat(ri.stop_time, sep = ' ')

In [148]:
combined.head()

0    2005-01-0201:55
1    2005-01-1808:15
2    2005-01-2323:15
3    2005-02-2017:15
4    2005-03-1410:00
Name: stop_date, dtype: object

In [145]:
#Another way
pd.to_datetime(ri.stop_date)

0       2005-01-02
1       2005-01-18
2       2005-01-23
3       2005-02-20
4       2005-03-14
           ...
91736   2015-12-31
91737   2015-12-31
91738   2015-12-31
91739   2015-12-31
91740   2015-12-31
Name: stop_date, Length: 91741, dtype: datetime64[ns]

In [151]:
ri['stop_datetime'] = pd.to_datetime(combined)

In [157]:
ri.stop_datetime.dt.year.value_counts().index[0]

2012

In [4]:
# The numpy usage


ri['Suspected'] = np.where(ri['driver_age'] > 45, 'Not_a_Suspect', 'Suspect')

In [5]:
ri.Suspected.value_counts()

Suspect          74182
Not_a_Suspect    17559
Name: Suspected, dtype: int64